/* Customize your main colors in :root variables */
:root {
  --light-background-color: #2e3d4d;
  --main-background-color: #131a21;
  --dark-background-color: #0a0e11;
  --title-text-color:#00d0c1;
}

body{
background-color: var(--main-background-);
  font-family: 'Patrick Hand', cursive;
  font-size: 1.1em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}

main{
  background-image: url(https://cdn.pixabay.com/photo/2019/11/07/08/40/honeycomb-structure-4608274__340.jpg) !important;
}



